[submodule "systemd"]
	path = systemd
	url = https://github.com/systemd/systemd
[submodule "lccc"]
	path = lccc
	url = https://github.com/LightningCreations/lccc.git
[submodule "CMake"]
	path = CMake
	url = https://github.com/LightningCreations/CMake.git
[submodule "kernel/enumset"]
	path = kernel/enumset
	url = https://github.com/LightningCreations/enumset.git
[submodule "lc-coreutils"]
	path = lc-coreutils
	url = https://github.com/LightningCreations/lc-coreutils.git
[submodule "lcsh"]
	path = lcsh
	url = https://github.com/LightningCreations/lcsh.git
[submodule "libc"]
	path = libc
	url = https://github.com/LightningCreations/libc.git
[submodule "lconf"]
	path = lconf
	url = https://.com/LightningCreations/lconf.git
[submodule "lc-binutils"]
	path = lc-binutils
	url = https://github.com/LightningCreations/lc-binutils.git
[submodule "lc-make"]
	path = lc-make
	url = https://github.com/LightningCreations/lc-make.git
